body {background-color: #1e1e2f; color: #f0f0f0; font-family: Ariel, sans-serif}
nav a {color: #f0f0f0; text-decoration: none; font-weight: bold;}
main {max-with: 700px; margin: 40px; padding: 0 20px;}
footer {max-with: 700px; margin: 40px; padding: 0 20px;}
nav {display: flex; gap: 20px;}
header {display: flex; justify-content: space-between; align-items: center;}
main {display: flex; gap: 40px; }